.liquid-bar-container {
    display: inline-block;
    flex-direction: column;
    align-items: left;
    /* margin-bottom: 1rem; */
  }
  
  .liquid-bar-title {
    font-size: 1rem;
  }
  
  .liquid-bar-outer {
    position: relative;
    width: 200px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
  }
  
  .liquid-bar-inner-large {
    position: relative;
    height: 100%;
    background-color: #366091;
    background-repeat: repeat-x;
    transition: width ease-in-out;
    animation: glowing 2500ms infinite ease-in-out;
    z-index: 2;
  }
  
  .liquid-bar-inner-small {
    position: absolute;
    width: 20px;
    height: 20px;
    animation: glowing 2500ms infinite ease-in-out, rotate 3000ms infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
    right: -3px;
    top: -2px;
    transform: translateX(calc(100% - 20px));
    background-color: #366091;
    border-radius: 40%;
    z-index: 1;
  }
  
  .liquid-bar-score {
    margin-top: 0.5rem;
  }
  
  @keyframes glowing {
    0% {
      background-color: #366091;
    }
    50% {
      background-color: #819cb8;
    }
    100% {
      background-color: #366091;
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  