.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 75%;
    color: grey;
    margin: auto;
    border-top: solid lightgrey;
    text-align: center;
}

.footer-wrapper {
    /* height: 41.5px; */
    width: 100%;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    text-align: left;
}

.icons {
    color: grey;
    margin-right: 10px;
    text-align: right;
}

@media (max-width: 768px) {
    .footer-wrapper {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .footer-wrapper {
        font-size: 1rem;
    }
}